.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background: url("./back2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-block: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(131, 131, 131);
}

.notice {
  width: 100%;
  background-color: red;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  padding-block: 10px;
  font-weight: 400;
}

.form-container {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.form-dialogue {
  
  display: inline-block;
  text-align: center;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

.form-dialogue input,
select {
  margin-block: 5px;
  min-height: 40px;
  border: none;
  background: rgba(252, 252, 252, 0.8);
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 5px;
}

.form-dialogue input:focus,
select:focus {
  outline: none;
}

.registration-title {
  font-size: 30px;
  font-weight: 600;
}

.payment {
  /* background: rgba(255, 255, 255, 0.8); */
  width: 100%;
  text-align: center;
}

label {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 18px;
}

.logo-container {
  background: white;
  height: 100px;
  width: 100%;
}

.logo-container img {
  height: 100%;
  width: auto;
}

.benefits-container {
  text-align: left;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 5px 30px 0px; */
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* border-radius: 30px; */
  margin-top: 20px;
  background: rgb(0, 0, 0, 0.01);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
  font-weight: 400;
}

.benefits-head {
  font-weight: 600;
  min-height: 40px;
  padding-left: 15px;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(6, 170, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.total-amount-container {
  margin-block: 20px;
  width: 100%;
  background: rgba(150, 150, 150, 0.432);
  font-size: 22px;
  color: green;
  padding: 10px;
  font-weight: 600;
}

.details {
  margin-block: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.details h1 {
  padding-bottom: 5px;
  text-align: left;
  margin-top: 20px;
  color: rgb(0, 79, 168);
  font-family: 'Dela Gothic One', cursive;
}

.details h3 {
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
  font-size: 25px;
  /* font-weight: 600; */
  color: cadetblue ;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.description{
  text-align: justify;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.eligibility{
  text-align: left;
  font-weight: 600;
  color: red;
}

.track-details-container{
  margin-block: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* background-color: rgba(0, 238, 255, 0.05); */
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
  padding-block: 20px;
  padding-inline: 10px;
}

.track-head{
  color: rgb(0, 51, 145);
  font-size: larger;
  font-weight: 600;
  padding-bottom: 5px;
  font-size: 30px;
  text-align: center;
}

.track-duration{
  margin-top: 20px;
  font-weight: 600;
  color: rgb(187, 0, 9);
  text-align: center;
}

.track-platform{
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 114, 0);
}

@media (max-width: 500px) {
  .form-dialogue {
    width: 100%;
  }
}


.module-head{
  border-bottom: 1px solid rgba(0, 27, 27, 0.158);
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(25, 109, 0);
  font-size: larger;
  font-weight: bold;
}

.module-detail{
  font-family: sans-serif;
  font-weight: normal;
  font-style: italic;
  color: rgba(0, 0, 0, 0.76);
}